<div class="container is-fluid">
  <div class="box mt-3">
    <div class="fixed-grid">
      <div class="grid is-column-gap-1">
        <div class="cell">
          <div class="mt-2">
            <div class="logo-title">
              <span class="material-symbols-outlined icons">
                credit_card_gear
              </span>
              <p>
                <strong class="title is-5 new-rocker-regular"
                  >EMoneyTrack</strong
                >
              </p>
            </div>
            <div class="my-3">
              <p class="title is-3 px-3 is-spaced">
                Easily avoid refrain from disbursement
              </p>
              <p class="subtitle is-5 px-3 edu-tas-beginner-regular">
                “EMoneyTrack helps 60% of people save money by providing tools
                to track expenses, avoid unnecessary spending, and maximize
                wealth”
              </p>
            </div>
            <div class="my-3 px-3 py-3">
              <div
                class="tag subtitle is-hoverable are-medium is-danger is-dark is-rounded edu-tas-beginner-regular"
              >
                with EMoneyTrack, you can also...
              </div>
              <div class="my-4 content is-normal edu-tas-beginner-regular">
                <ul>
                  <li>
                    Expense Tracking : Effortlessly track and analysis your
                    spending
                  </li>
                  <li>Net Worth Tracking : Track your net worth</li>
                  <li>
                    Bill Reminders : Get remainder for the bills on before dues
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cell">Second column</div>
      </div>
    </div>
  </div>
</div>
