/* Add application styles & imports to this file! */
@import 'bulma/css/bulma.css';

@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

:root {
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0%;
}

.bg-col {
  background-color: var(--surface-200);
  height: 100%;
  width: 100%;
  position: absolute;
}

.new-rocker-regular {
  font-family: 'New Rocker', system-ui;
  font-weight: 450;
  font-style: normal;
}

.caveat-regular {
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.edu-tas-beginner-regular {
  font-family: 'Edu TAS Beginner', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
